# Python
# Bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual Environment
venv/
env/
ENV/
.venv/
.env/

# IDE or editor settings
.vscode/
.idea/

# Dependency directories
node_modules/
yarn.lock
package-lock.json

# Build directories for React
build/

# React development environment
npm-debug.log
yarn-error.log

# Python test/coverage reports
.coverage/
*.cover
nosetests.xml
coverage.xml
*.hypothesis/
*.tox/

# Logs
*.log

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Other
.env
